<%= render "shared/header"%>
<div class="link">
  <% if user_signed_in? %>
    <%if current_user == @user || current_user.admin?%>
      <%=link_to "Add New Question", new_question_path,class: "add"%>
    <%end%>
  <% end %>
</div>

<div class="title-text">
  <h1>漢字の問題一覧</h1>
</div>

<div class="contents row">
  <% @questions.each do |question| %>
    <div class="content_post">
      <h2><%=question.question_text%></h2>
      <div class="more_list">
        <% if user_signed_in? %>
          <%if current_user == @user || current_user.admin?%>
            <%= link_to '削除', question_path(question.id), method: :delete %>
          <%end%>
        <% end %>
      </div>
      <div class="date">
        <p><%= question.created_at.strftime("%Y年%m月%d日")%></p>
      </div>
    </div>
  <% end %>
</div>