<%= render "shared/header"%>

<div class="container-answer">
  <div class="answer">
    <h2>テスト結果</h2>
    <p id="score">合計得点: <%= @total_score %></p>
    
    <div class="ome">
      <h2 class="ome-title" style="display:none;">
        🎊おめでとう🎊<br>まんてんだ！<i class="fa-regular fa-bounce">🐇</i>
      </h2>
    </div>
    <div class="zannen">
      <h3 class="zannen-title" style="display:none;">
        おしかった！<br>きみなら　できる！<i class="fa-regular fa-bounce">🐸</i>
      </h3>
    </div>
    <h2>正解の問題一覧</h2>
    <div class="results">
      <ul>
      <% @test_results.each do |result| %>
      <li>
        漢字：<%= result.question.question_text %><br>
        せいかい：<%= result.question.correct_answer %><br>
        ユーザーのこたえ：<%= result.user_answer %>
      </li>
      <% end %>
    </ul>
    </div>
  </div>
  <div class="bottom-link">
    <%= link_to 'トップページ',"/" %>
    <%= link_to '問題一覧', questions_path%>
    <%= link_to 'マイページ', user_path(current_user.id)%>
  </div>
</div>

<%= render "shared/footer"%>