<%= render "shared/header"%>

<div class="contents row">
  <div class="container">
    <h2>編集</h2>
    <%= form_with model: @user, url:  user_path(current_user.id), id: 'new_user', class: 'new_user', local: true do |f| %>
      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name, autofocus: true %>
      </div>
      
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email  %>
      </div>

      <div class="actions">
        <%= f.submit "Update" ,class: "submit"%>
      </div>
    <% end %>
  </div>
</div>