<header>
  <div class='top-page-header'>
    <div class='search-bar-contents'>
      <%= link_to "KanjiWhiz 漢字達人", "/", class: "logo" %>
    </div>
    <div class='nav-header'>
        <%= link_to 'Go To Test', tests_show_path, class: "go-to" %>
      <ul class='lists-right'>
        <% if user_signed_in? %> 
          <li><%= link_to "Hi, #{current_user.name}", user_path(current_user.id), class: "user-nickname" %></li>
          <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
        <% else %>
          <li><%= link_to 'ログイン',  new_user_session_path, class: "login" %></li>
          <li><%= link_to '新規登録',  new_user_registration_path, class: "sign-up" %></li>
        <%end%>
      </ul>
    </div>
  </div>
  <nav>
    <div class="site-title"><%=link_to "問題一覧", questions_path%></div>
    <ul>
      <li><%= link_to 'Go To Test', tests_show_path %></li>
      <li><a href="#">About app</a></li>
    </ul>
  </nav>
</header>